{% extends 'tableapp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{%  static 'tableapp/card.css' %}">
    <title>메인</title>
{% endblock %}

{% block topnav %}
    {% if user.is_authenticated %}
        <div class="top-bar">
            <div class="wrapper">
                <h3>안녕하세요 {{ user.last_name }}{{ user.first_name }}님</h3>
                <a href="/logout">로그아웃</a>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block content %}

    {% for act in acts %}
        <div class="activity-card" style="background-color:{{ act.color }};" >
            <div class="card-wrapper">
                <form class="delete-form" action="{% url 'delete' act.day act.id %}" method="post">
                    {% csrf_token %}
                    <button class="delete-button" type="submit">
                        <i class="material-icons">
                        close
                        </i>
                    </button>
                </form>
                <div class="time">
                    <span>{{ act.fromTime }}</span>
                    <span>~</span>
                    <span>{{ act.toTime }}</span>
                </div>
                <div class="content">
                    <h1>{{ act.content }}</h1>
                </div>
            </div>
        </div>
    {% endfor %}
    <a class="add-card" href="/make" target="_blank">
        <i class="material-icons">
        add
        </i>
    </a>
{% endblock %}